{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Photozvit{% endblock meta_title %}

{% block title %}Photozvit{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row content">
            <div class="col-xs-10 col-sm-8 col-md-5 offset-xs-1 offset-sm-1 offset-md-1">
                <div class="slider">
                    {% for img in photo %}
                        <div>
                            <img src="{{ img.image.url }}" />
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-5 offset-xs-1 offset-sm-1 offset-md-1">
                <p>
                    dfcdsvcdx sdad d ad afasd adasda asf wsefs fwsfdasd sfds asfsd wesf weqw wwe wdwe wfwedw  wewe we we we wer wer we wewe we we we we rwe wer werwe w dwedwedwq w ewedwedwe weewdew wedewe wdew e dwd we d wed f ew d ew d we d we d we d
                </p>
            </div>
        </div>
    </div>
{% endblock content %}