/* .bx-wrapper {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
} */

.mynavbar{
    position: sticky;
    top: 0;
    z-index: 1030;
}

.container-one {
    background-color: grey;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.container-two {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 7%;
}

.container-three {
    background-color: yellow;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 5%;
}
