{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8"/>
  <title>Oksana</title>
  <meta name="description" value="Task manager" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <link rel="stylesheet" href='{% static "css/main.css" %}'>

</head>
<body>
    <div class="mynavbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#id_one" class="font-Open_Sans font-size_16px subheadergrey line-height30">Перша</a>
                    </li>
                    <li class="nav-item">
                        <a href="#id_two" class="font-Open_Sans font-size_16px subheadergrey line-height30">Друга</a>
                    </li> 
                    <li class="nav-item">
                        <a href="#id_three" class="font-Open_Sans font-size_16px subheadergrey line-height30">Третя</a>
                    </li>  
                </ul>
            </div>
            {% if show == 1 %}
                {% csrf_token %}
                    <div><a href='{% url 'like' %}' 
                        class="btn btn-primary to_basket">Подобається</a>
                    </div>
            {% else %}
                {{ count }} людям це сподобалося
            {% endif %}
        </nav>
    </div>
    <div class="container-one" id='id_one'>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-md-5 offset-xs-1 offset-sm-1 offset-md-1">
                    <div class="slider">
                        {% for img in photo %}
                            <div>
                                <img src="{{ img.image.url }}" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-10 col-sm-8 col-md-5 offset-xs-1 offset-sm-1 offset-md-1">
                    <p>
                        dfcdsvcdx sdad d ad afasd adasda asf wsefs fwsfdasd sfds asfsd wesf weqw wwe wdwe wfwedw  wewe we we we wer wer we wewe we we we we rwe wer werwe w dwedwedwq w ewedwedwe weewdew wedewe wdew e dwd we d wed f ew d ew d we d we d we d
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-two" id='id_two'>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-md-5 offset-xs-1 offset-sm-1 offset-md-1">
                    <div class="slider">
                        {% for img in photo %}
                            <div>
                                <img src="{{ img.image.url }}" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-10 col-sm-8 col-md-5 offset-xs-1 offset-sm-1 offset-md-1">
                    <p>
                        dfcdsvcdx sdad d ad afasd adasda asf wsefs fwsfdasd sfds asfsd wesf weqw wwe wdwe wfwedw  wewe we we we wer wer we wewe we we we we rwe wer werwe w dwedwedwq w ewedwedwe weewdew wedewe wdew e dwd we d wed f ew d ew d we d we d we d
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-three" id='id_three'>
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-sm-8 col-md-5 offset-xs-1 offset-sm-1 offset-md-1">
                    <div class="slider">
                        {% for img in photo %}
                            <div>
                                <img src="{{ img.image.url }}" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-10 col-sm-8 col-md-5 offset-xs-1 offset-sm-1 offset-md-1">
                    <p>
                        dfcdsvcdx sdad d ad afasd adasda asf wsefs fwsfdasd sfds asfsd wesf weqw wwe wdwe wfwedw  wewe we we we wer wer we wewe we we we we rwe wer werwe w dwedwedwq w ewedwedwe weewdew wedewe wdew e dwd we d wed f ew d ew d we d we d we d
                    </p>
                </div>
            </div>
        </div>
    </div>
    
  <!-- Javascripts Inclusion -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script src='{% static 'js/script.js' %}'></script>
</html>